.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logintheam {
  width: 1140px;
  height: 500px;
  background-color: #282c34;
  background-image: url("../public/logintheam1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid rgb(34, 75, 54);
  
}
.userlogo {
  height: 350px;
  background-color: #282c34;
  background-image: url("../public/loginpic.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid rgb(34, 75, 54); 
  border-radius: 10%;
}
.lsidebar {
  width: 475px;
  height: 350px;
  background-color: rgb(21, 65, 116);
  margin-top: 120px;
  border: 3px solid rgb(15, 66, 59);
  border-radius: 8px;
}
.rsidebar {
  width: 645px;
  height: 350px;
  background-color: rgb(21, 65, 116);
  margin-top: 120px;
  border: 5px solid rgb(15, 66, 59);
  border-radius: 8px;
}
.userinput {
  height: 200px;
  width: 300px;
  background-color: #dbe0e9;
  margin-top: 70px;
  padding-left: 5px;
  padding-top: 40px;
  border: 2px solid white;
  border-radius: 5%;
}
.emailid{
  margin-left: 7px;
}
.loginbtn {
  display: flex;
  margin: 10px 120px;
  
}
.signup {
  background-color: rgb(21, 65, 116);
  color: white;
}
.signup:hover {
  background-color: rgb(95, 102, 102);
  color: #56cde2;
}
.login {
  background-color: rgb(21, 65, 116);
  color: white;
}
.login:hover {
  background-color: rgb(95, 102, 102);
  color: #56cde2;
}